{% extends "dashboard/base.html" %}
{% load staticfiles %}

{% block extrahead %}

<!-- Timeline CSS -->
<link href="{% static 'dist/css/timeline.css' %}" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="{% static 'bower_components/morrisjs/morris.css' %}" rel="stylesheet">
<!-- Morris Charts JavaScript -->
<script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
<script src="{% static 'bower_components/morrisjs/morris.min.js' %}"></script>
<script src="{% static 'js/morris-data.js' %}"></script>

{% endblock extrahead %}



