{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">WikiAnalyze</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-6">
<div class="panel panel-default">

    <div class="panel-heading">
        <span class="octicon octicon-book">readme.md</span>
    </div>

    <div id="readme" class="panel-body">


    <article class="markdown-body entry-content" itemprop="text" id="grip-content">
        <h1 id="ab9ebdd5-db3f-51c3-6427-71de8504b43e">
            <a id="user-content-wikianalyze" class="anchor" href="#wikianalyze" aria-hidden="true"><span aria-hidden="true"
                    class="octicon octicon-link"></span></a>WikiAnalyze</h1>
        <h2 id="0902d7cb-978d-00a0-da9a-72c1673bcfcd">
            <a id="user-content-welcome-to-wikianalyze" class="anchor" href="#welcome-to-wikianalyze" aria-hidden="true"><span
                    aria-hidden="true" class="octicon octicon-link"></span></a>Welcome to WikiAnalyze</h2>
        <p>WikiAnalyze is a project to search, find, and organize wikipedia's information into structured, formatted data.</p>
        <p><a href="screenshot1.png" target="_blank" rel="noopener noreferrer"><img src="{% static 'screenshot1.png' %}" alt="screenshot1"
                    style="max-width:100%;"></a>
            (This screenshot is a demo of WikiAnalyzer's user interface, which lets you explore the data gleaned and
            organized from wikipedia articles.)</p>
        <p>The world is full of unstructured data. In 1998, Merrill Lynch cited a rule of thumb that somewhere around
            80-90% of all potentially usable business information may originate in unstructured form. The majority of
            information on the web is unstructured, and exponentially increasing.</p>
        <p>However, structuring that data can be a challenge. Techniques such as data mining, natural language processing
            (NLP), and text analytics provide different methods to find patterns in, or otherwise interpret, this
            information</p>
        <p><strong>Our mission is to transform Wikipedia's unstructured information into a searchable, machine-learnable,
                API callable, and easily discernable database of information, to unleash a wealth of understanding and
                knowledge to the world.</strong></p>
        <h2 id="01ebe451-57c7-2d9c-7739-f7d0414ea826">
            <a id="user-content-features" class="anchor" href="#features" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Features</h2>
        <h3 id="b107d601-2605-1d2d-f686-f5c666723089">
            <a id="user-content-autonomous-data-scrapes" class="anchor" href="#autonomous-data-scrapes" aria-hidden="true"><span
                    aria-hidden="true" class="octicon octicon-link"></span></a>Autonomous Data Scrapes</h3>
        <p>Use WikiAnalyzer's API to autonomously scrape portions of Wikipedia's unstructured articles for valuable
            information.</p>
        <h3 id="d3f4c952-577b-8c3f-dde2-e1395482ef39">
            <a id="user-content-improved-wikipedia-api" class="anchor" href="#improved-wikipedia-api" aria-hidden="true"><span
                    aria-hidden="true" class="octicon octicon-link"></span></a>Improved Wikipedia API</h3>
        <p>Our improved Wikipedia API can glean the data on a Wikipedia infobox. We are currently working on how to call
            individual infobox values, but you can view the ones we support on the web interface.</p>
        <h3 id="35768f0e-3ec8-6555-73e0-9b8be9144484">
            <a id="user-content-entity-recognition" class="anchor" href="#entity-recognition" aria-hidden="true"><span
                    aria-hidden="true" class="octicon octicon-link"></span></a>Entity Recognition</h3>
        <p>WikiAnalyze harnesses the industrial strength of the spaCy natural language processing software to discern the
            entities in the wikipedia articles. We are exploring how the relationships of the entities can reveal an
            overall picture of the article.</p>
        <h2 id="ae2bf58b-c54f-010d-4380-a35bc39d23d3">
            <a id="user-content-planned-features" class="anchor" href="#planned-features" aria-hidden="true"><span
                    aria-hidden="true" class="octicon octicon-link"></span></a>Planned Features</h2>
        <h3 id="a4a0b87e-ace6-bd21-37b3-678a93202aba">
            <a id="user-content-caching-with-djangos-orm" class="anchor" href="#caching-with-djangos-orm" aria-hidden="true"><span
                    aria-hidden="true" class="octicon octicon-link"></span></a>Caching with Django's ORM</h3>
        <p>We are planning to use Django's Object-Relational Mapper to cache searches and results. This has not been
            implemented yet, due to the fact Wikipedia has over <a href="https://en.wikipedia.org/wiki/Wikipedia:List_of_infoboxes"
                rel="nofollow">10,000 individualized infoboxes</a>.</p>
        <p>However, we have already started working on the more general infoboxes, as seen in "/app/models.py".</p>
        <h2 id="8ec19f55-c51f-ebd8-e455-ab9960a23ffc">
            <a id="user-content-made-possible-by-the-following-technologies" class="anchor" href="#made-possible-by-the-following-technologies"
                aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Made Possible By the
            Following Technologies</h2>
        <p><a href="django_and_spaCy_logos.png" target="_blank" rel="noopener noreferrer"><img src="{% static 'django_and_spaCy_logos.png' %}"
                    alt="django and spaCy logos" style="max-width:100%;"></a></p>
        <h3 id="a052ead8-3123-4cbb-6d44-d6c3085bccf0">
            <a id="user-content-about-django" class="anchor" href="#about-django" aria-hidden="true"><span aria-hidden="true"
                    class="octicon octicon-link"></span></a>About Django</h3>
        <p>"Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.
            Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on
            writing your app without needing to reinvent the wheel. It’s free and open source."
            -- Django website</p>
        <h3 id="ed62d300-7b7a-f7e7-2a8e-a9be2f6500ed">
            <a id="user-content-about-spacy" class="anchor" href="#about-spacy" aria-hidden="true"><span aria-hidden="true"
                    class="octicon octicon-link"></span></a>About SpaCy</h3>
        <p>Industrial-Strength Natural Language Processing. "spaCy is an open-source software library for advanced Natural
            Language Processing, written in the programming languages Python and Cython. The library is published under the
            MIT license and currently offers statistical neural network models for English, German, Spanish, Portuguese,
            French, Italian, Dutch and multi-language NER, as well as tokenization for various other languages."
            --Wikipedia</p>
        <h3 id="4a263317-21e1-14ca-fd33-6962a772eec8">
            <a id="user-content-other-projects" class="anchor" href="#other-projects" aria-hidden="true"><span aria-hidden="true"
                    class="octicon octicon-link"></span></a>Other projects</h3>
        <ul>
            <li>Wikipedia API</li>
            <li>wptools</li>
        </ul>
        <h2 id="b6e68c30-2a95-ff3b-7298-935ba6658610">
            <a id="user-content-documentation" class="anchor" href="#documentation" aria-hidden="true"><span aria-hidden="true"
                    class="octicon octicon-link"></span></a>Documentation</h2>
        <h3 id="70cd2647-20b6-c9a3-28d1-62046cade46e">
            <a id="user-content-installing" class="anchor" href="#installing" aria-hidden="true"><span aria-hidden="true"
                    class="octicon octicon-link"></span></a>Installing</h3>
        <ul>
            <li>Please make sure you have Python 3.5 or greater installed.</li>
        </ul>
        <p>Install the dependencies:</p>
        <div class="highlight highlight-source-shell">
            <pre>python -m pip install requirements.txt -r </pre>
        </div>
        <h3 id="8aa8af24-8577-8376-b79b-2b1920a42396">
            <a id="user-content-running" class="anchor" href="#running" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Running</h3>
        <p>To start the project:</p>
        <ol>
            <li>Start the django dev server:</li>
        </ol>
        <div class="highlight highlight-source-shell">
            <pre>python manage.py runserver</pre>
        </div>
        <ol start="2">
            <li>
                <p>Navigate your browser to localhost:8000.</p>
            </li>
            <li>
                <p>Search for an article on Wikipedia, using the search sidebar</p>
            </li>
            <li>
                <p>A list of results should appear. Click on desired link.</p>
            </li>
        </ol>
        <p>If you searched for 'flipboard', you will get a page with a result called "Flipboard". Cliking on this will
            bring you to the screenshot above.</p>
        <h3 id="b778bd74-5afb-6122-3da4-2926ef078932">
            <a id="user-content-using-as-a-library" class="anchor" href="#using-as-a-library" aria-hidden="true"><span
                    aria-hidden="true" class="octicon octicon-link"></span></a>Using as a library</h3>
        <p>We are currently working to release a python package on github, please stay-tooned until further notice.</p>

    </article>

    </div>
</div>

    </div>

    <div class="col-lg-4">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>TYPE</th>
                        <th>DESCRIPTION</th>
                    </tr>
                </thead>
                <tbody>  
                    <tr>
                        <td>PERSON</td>
                        <td>People, including fictional.</td>
                    </tr>
                    <tr>
                        <td>NORP</td>
                        <td>Nationalities or religious or political groups.</td>
                    </tr>
                    <tr>
                        <td>FAC</td>
                        <td>Buildings, airports, highways, bridges, etc.</td>
                    </tr>
                    <tr>
                        <td>ORG</td>
                        <td>Companies, agencies, institutions, etc.</td>
                    </tr>
                    <tr>
                        <td>GPE</td>
                        <td>Countries, cities, states.</td>
                    </tr>
                    <tr>
                        <td>LOC</td>
                        <td>Non-GPE locations, mountain ranges, bodies of water.</td>
                    </tr>
                    <tr>
                        <td>PRODUCT</td>
                        <td>Objects, vehicles, foods, etc. (Not services.)</td>
                    </tr>
                    <tr>
                        <td>EVENT</td>
                        <td>Named hurricanes, battles, wars, sports events, etc.</td>
                    </tr>
                    <tr>
                        <td>WORK_OF_ART	</td>
                        <td>Titles of books, songs, etc.</td>
                    </tr>
                    <tr>
                        <td>LAW	</td>
                        <td>Named documents made into laws.</td>
                    </tr>
                    <tr>
                        <td> LANGUAGE </td>
                        <td> Any named language.</td>
                    </tr>
                    <tr>
                        <td>DATE </td>
                        <td>Absolute or relative dates or periods.</td>
                    </tr>
                    <tr>
                        <td>TIME </td>
                        <td>Times smaller than a day.</td>
                    </tr>
                    <tr>
                        <td>PERCENT	</td>
                        <td>Percentage, including "%".</td>
                    </tr>
                    <tr>
                        <td>MONEY </td>
                        <td>Monetary values, including unit.</td>
                    </tr>
                    <tr>
                        <td>QUANTITY </td>
                        <td>Measurements, as of weight or distance.</td>
                    </tr>
                    <tr>
                        <td>ORDINAL</td>
                        <td>"first", "second", etc.</td>
                    </tr>
                    <tr>
                        <td>CARDINAL </td>
                        <td>Numerals that do not fall under another type.</td>
                    </tr>
                           
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- <div class="row">
    <div class="col-*-*"></div>
    <div class="col-*-*"></div>
    <div class="col-*-*"></div>
</div> -->


{% endblock content %}